{%extends 'base.html'%}
{%load static%}

{%block content%}

{%if messages%}
<center>
<div class="container">
  {% for message in messages %}
      <div class="{{message.tags}}"><h5>{{message}}</h5></div>
  {% endfor %}
</div>
</center>
{%endif%}

<div class="container">
	<div class="row">
	        <div class="col s12 m4 l5">
	        <br>
	        <br>
	          <div class="card">
	            <div class="card-image">
	              <img src="{%if request.user.profile.Foto %}{{request.user.profile.Foto.url}}{%endif%}">
	              <span class="card-title">{{request.user.first_name}} {{request.user.last_name}}</span>
	            </div>
	            <div class="card-content">
	            </div>
	            <div class="card-action center">
	              <a class="waves-effect waves-light btn #7cb342 light-green darken-1" href="{%url 'product:publicar'%}">Quiero vender algo</a>
	              <br>
	              <br>
	              <a class="waves-effect waves-light btn #7cb342 light-green darken-1" href="{%url 'product:dash'%}">Ver mis publicaciones</a>
	            </div>
	          </div>
	        </div>
		<div class="col s12 m8 l7">
			<center><h5>Bienvenido a tu perfil {{request.user.username}}</h5></center>
				<form action="." method="post" enctype='multipart/form-data'>
					{%csrf_token%}
					{{userform.as_p}}
					{{profileform.as_p}}
					<center><button id="btnSubmit" class="btn waves-effect waves-light #43a047 green darken-1" type="submit" name="action">Guardar
                  <i class="material-icons right">send</i>
                </button></center>
				</form>
		</div>
	</div>
</div>
<br>
<br>
{%block scripts%}
<script>
$(function() {
    $("form").submit(function() {
        $(":submit").replaceWith('<img  src="{%static 'media/lo.gif'%}" />');
    });
});
</script>

{%endblock scripts%}


{%endblock content%}
