{%extends 'base.html'%}

{%block content%}
	<img class="fotito" src="{%if request.user.profile.photo %}{{request.user.profile.photo.url}}{%endif%}">
	<center><h5>Bienvenido a tu perfil {{request.user.username}}</h5></center>
<form action="." method="post" enctype='multipart/form-data'>
	{%csrf_token%}
	{{userform.as_p}}
	{{profileform.as_p}}
	<center><input class="waves-effect waves-light btn #7cb342 light-green darken-1" type="submit" value="Guardar"></center>
</form>
<br>
<br>

{%endblock content%}