{% extends "base.html" %}
{%load static%}
{% block content %}
	<div class="container center">
    <h1>Olvidaste tu contraseña</h1>
    <img src="{%static 'media/logofin.png'%}">
    <p>Ingresa tu correo electrónico para obtener una nueva contraseña</p>
    <form action="." method="post">
    	{% csrf_token %}
    	{{form.as_p}}
    	<button class="waves-effect waves-light btn #43a047 green darken-1" type="submit" value="Enviar e-mail">Enviar e-mail</button>
    </form>
    </div>
{% endblock content %}