<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	  <title>{%block titulo%}Véndelo-facil{%endblock titulo%}</title>
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <link rel="icon" href="{%static 'media/log_50.png'%}" type="image/x-icon">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css'%}">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
     <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <style type="text/css">
        .logo-custom {
      margin-top: 7px;
      margin-left: 10px;
       }
      @media only screen and (max-width: 600px) {
        #logo{margin-top: 4px; margin-left: -1px;}
      }
      .fotito{
      border:2px solid white;
      border-radius:50%;
      width:100px;
      height:100px;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
border-radius: 20px; 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {

    color: #FFF;
    background-color: #9ccc65;

}
.isa_success:before {
  content: url({% static "media/yes.png" %}); 
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error:before {
  content: url({% static "media/error.png" %}); 
}

.isa_error {
    color: #FFF;
    background-color: #e53935;
}

    </style>


</head>
<body>
	<nav>
    	<div class="nav-wrapper #9ccc65 light-green lighten-1">
      		<a href="{%url 'main:home'%}"><img id="logo" src="{%static 'media/log_50.png'%}" class="brand-logo logo-custom"></img></a>
      		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			{%if request.user.is_authenticated%}
					<ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn #43a047 green darken-1" href="{%url 'main:home'%}">Home</a></li>
						<li><a class="waves-effect waves-light btn #43a047 green darken-1" href="{%url 'profile'%}">Mi Cuenta</a></li>
						<li><a class="waves-effect waves-light btn #43a047 green darken-1" href="#">Mi Carrito</a></li>
						<li><a class="waves-effect waves-light btn #43a047 green darken-1" href="{%url 'logout'%}" class="fa fa-logout">Salir</a>
						</li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
            <li><img class="fotito center" src="{%if request.user.profile.Foto %}{{request.user.profile.Foto.url}}{%endif%}">
            <a text-decoration="none">{{request.user.first_name}} {{request.user.last_name}}</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{%url 'main:home'%}">Home</a></li>
						<li><a href="{%url 'profile'%}">Mi Cuenta</a></li>
						<li><a href="#">Mi Carrito</a></li>
						<li><a href="{%url 'logout'%}" class="fa fa-logout">Salir</a>
						</li>
					</ul>
					{%else%}
					<ul class="right hide-on-med-and-down">
            <li><a  href="#buscador"><i class="material-icons">search</i></a></li>
						<li><a class="waves-effect waves-light btn #43a047 green darken-1" href="{%url 'login'%}">Mi Cuenta</a></li>
						<li><a class="waves-effect waves-light btn #43a047 green darken-1" href="{%url 'main:home'%}">Home</a></li>
            <li><a class="waves-effect waves-light btn #43a047 green darken-1" href="{%url 'login'%}">Carrito</a></li>
					</ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#buscador"><i class="material-icons">search</i></a></li>
						<li><a href="{%url 'login'%}">Mi Cuenta</a></li>
						<li><a href="{%url 'main:home'%}">Home</a></li>
            <li><a href="{%url 'login'%}">Carrito</a></li>
					</ul>
		{%endif%}
    	</div>
  	</nav>

    {%block content%}



    {%endblock content%}

    {%block footer%}
 		<footer class="page-footer #9ccc65 light-green lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Véndelo Facil</h5>
                <p class="grey-text text-lighten-4">Compra y vende todo lo que quieras</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Categorías</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Tecnología</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Hogar</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Automóviles</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Made by Fixter</a>
            </div>
          </div>
        </footer>

    {%endblock footer%}

    {%block scripts%}
    {%endblock scripts%}
<!--scripts necesarios de materialize-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{%static 'js/materialize.min.js'%}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
  <script>
    $( document ).ready(function(){
    $(".button-collapse").sideNav();
    });
  </script>
  <script>
    $(document).ready(function(){
      $('.scrollspy').scrollSpy();
    });
  </script>

<!--este script es para que se muestren y oculten las respuestas a algun comentario
y aplicar clases a alertas-->

<script type="text/javascript">
$(document).ready(function(){
$(".comment").click(function(event){
    event.preventDefault();
    $(this).next(".respuestas").fadeToggle();
  });
 $('.success').addClass("isa_success");
 $('.error').addClass("isa_error");
});
</script>

<!--script para agregar la clase textarea de materialize-->
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_cuerpo').addClass('materialize-textarea');
  });
</script>

<!--script para la galeria de imagenes-->
<script type='text/javascript'>
var prop = 60.00;
$("ul.obgaleria").each(function() {
var id = "#" + $(this).attr("id");
var ancho = 100 / $(id + " li").length;
$("head").append("<style>" + id + "{padding: 0 0 " + (ancho) + "% 0;} " + id + " li{width:" + ancho + "%;padding: 0 0 " + ancho + "% 0;}</style>");
$(id + " li").click(function(){
  var url = $(this).find('img').attr('src');
  $('.mainhref').attr('href',url);
  $('.img_tag_principal').attr('src',url);
});
});
</script>
</body>
