{%extends 'base.html'%}
{%load static%}
{%block content%}
<style type="text/css">
  div>img{
    border:2px solid white;
      width: 400px;
      height:400px;
  }

  @media only screen and (max-width: 900px) {
        div>img{width: 200px; height: 200px;}
      }
  label{color:black;font-weight: 500; font-size: medium;}

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}


ul.obgaleria{width: 100%;height:0;overflow:hidden;margin: 30px auto;list-style: none;background:transparent;font-size:0;line-height:0;} 
ul.obgaleria li{position: relative;display:inline-block;width:100%;height:0;margin:0;list-style:none;cursor:pointer;vertical-align:top;overflow:hidden;} 
ul.obgaleria li img {position: absolute;top: -150%;bottom: -150%;left: -150%;right: -150%;width:100px;height:100px; max-width: none;margin: auto;padding: 0;border:0;} 
ul.obgaleria li:first-child img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height:auto;
  -webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
} 

ul.obgaleria li {border-left: 3px solid transparent;border-top: 3px solid transparent;box-sizing: border-box;} 
ul.obgaleria li:nth-child(2), ul.obgaleria li:first-child {border-left:0;}
</style>
     
<div class="row">
{%if anuncio.imagen_opcional_uno%}
<div class="col s12 m6">
    <div>
    <div>
      <ul class="obgaleria" id="galeria1">
        <li ><a class="white-text"><img  width="100" src="/media/{{anuncio.imagen_principal}}"></a></li>
        <li class="tab"><a class="white-text" ><img width="100" src="/media/{{anuncio.imagen_secundaria}}"></a></li>
        <li class="tab"><a class="white-text"><img width="100" src="/media/{{anuncio.imagen_terciaria}}"></a></li>
        <li class="tab"><a class="white-text"><img width="100" src="/media/{{anuncio.imagen_opcional_uno}}"></a></li>
      </ul>
    </div>
   <!-- <div class="card-content grey lighten-4">
      <div id="test4"><center><img class="materialboxed" width="650" src="/media/{{anuncio.imagen_principal}}"></center></div>
      <div id="test5"><center><img class="materialboxed" width="650" src="/media/{{anuncio.imagen_secundaria}}"></center></div>
      <div id="test6"><center><img class="materialboxed" width="650" src="/media/{{anuncio.imagen_terciaria}}"></center></div>
      <div id="test7"><center><img class="materialboxed" width="650" src="/media/{{anuncio.imagen_opcional_uno}}"></center></div>
    </div>-->
  </div>
</div>
{%else%}
<div class="col s12 m6">
    <div>
    <div>
      <ul class="obgaleria" id="galeria1">
        <li ><a class="white-text"><img  width="100" src="/media/{{anuncio.imagen_principal}}"></a></li>
        <li class="tab"><a class="white-text"><img  width="100" src="/media/{{anuncio.imagen_secundaria}}"></a></li>
        <li class="tab"><a class="white-text"><img width="100" src="/media/{{anuncio.imagen_terciaria}}"></a></li>
      </ul>
    </div>
  </div>
</div>
{%endif%}

<div class="col s12 m4">
  <table class="table highlight">
        <thead>
          <tr>
              <th data-field="id"><h4>{{anuncio.titulo_anuncio}}</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="material-icons">person_pin</i><strong>Vendedor:</strong></td>
            <td>{{anuncio.vendedor}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">monetization_on</i><strong>Precio:</strong></td>
            <td>${{anuncio.precio}}{{anuncio.Moneda}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">date_range</i><strong>Fecha de publicacion:</strong></td>
            <td>{{anuncio.fecha_anuncio}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">description</i><strong>Descripcion:</strong></td>
            <td>{{anuncio.descripcion_anuncio}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="container">
<form method="POST" action=".">
{%csrf_token%}
  {{comment_form}}
<center>
  <input class="waves-effect waves-light btn #7cb342 light-green darken-1" type="submit" value="Comentar">
</center> 
</form>
{%for comment in comments%}
 <ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle green">question_answer</i>
    <strong><span class="title">{{comment.autor}}</span></strong>
    <p>{{comment.cuerpo}}</p>
    <p>{{comment.fecha_comentario}}</p>

    {%if comment.children.count > 0%}
    <strong><p>Respuestas: {{comment.children.count}}</p></strong>
    <a class='comment' href="">Ver respuestas</a>
    {%else%}
    <strong><p>No hay respuestas</p></strong>
    {%endif%}
    <div class='respuestas' style="display:none">
    {%for child_comment in comment.children%}
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle red">question_answer</i>
            <strong><span class="title">{{child_comment.autor}}</span></strong>
            <p>{{child_comment.cuerpo}}</p>
            <p>{{child_comment.fecha_comentario}}</p>

        </li>
    </ul>
    {%endfor%}
    <form method="POST" action=".">
    {%csrf_token%}
      {{comment_form}}
      <center>
        <input type="hidden" name="parent_id" value="{{comment.id}}">
        <input class="waves-effect waves-light btn #7cb342 light-green darken-1" type="submit" value="Responder">
      </center> 
    </form>
    </div>
  </li>
</ul>
{%endfor%}
</div>

<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $(id + " li:first-child img").addClass('materialboxed');
    $('.materialboxed').materialbox();
  });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_cuerpo').addClass('materialize-textarea');
  });
</script>
<script type='text/javascript'>//<![CDATA[
var prop = 60.00; // proporción alto/ancho*100 imagen principal
$("ul.obgaleria").each(function() {
var id = "#" + $(this).attr("id");
var ancho = 100 / $(id + " li").length;
$("head").append("<style>" + id + "{padding: 0 0 " + (prop + ancho) + "% 0;} " + id + " li{width:" + ancho + "%;padding: 0 0 " + ancho + "% 0;} " + id + " li:first-child {width: 100%;padding-bottom: " + prop + "%;}</style>");
$(id + " li:first-child").clone().prependTo(id);
$(id + " li:first-child img").css({
"width": "100%"
});
$(id + " li").click(function() {
$(id + " li:first-child").remove()
$(this).clone().prependTo(id);
$(id + " li:first-child img").addClass('materialboxed');
$(id + " li:first-child img").materialbox();
});
});
//]]></script>
<script type="text/javascript">
$(document).ready(function(){
$(".comment").click(function(event){
    event.preventDefault();
    $(this).next(".respuestas").fadeToggle("slow");       
  })
})
</script>
{%endblock content%}