
{%extends 'base.html'%}
{%load static%}
{%block content%}
<style type="text/css">
  div>img{
    border:2px solid white;
      width: 400px;
      height:400px;
  }
  @media only screen and (max-width: 900px) {
        div>img{width: 200px; height: 200px;}
      }
  label{color:black;font-weight: 500; font-size: medium;}
ul.obgaleria{width: 100%;height:0;overflow:hidden;margin: 30px auto;list-style: none;background:transparent;font-size:0;line-height:0;}
ul.obgaleria li{position: relative;display:inline-block;width:100%;height:0;margin:0;list-style:none;cursor:pointer;vertical-align:top;overflow:hidden;}
ul.obgaleria li img {position: absolute;top: -150%;bottom: -150%;left: -150%;right: -150%;width:100px;height:100px; max-width: none;margin: auto;padding: 0;border:0;}
ul.obgaleria li:first-child img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height:auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  -webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
ul.obgaleria li {border-left: 3px solid transparent;border-top: 3px solid transparent;box-sizing: border-box;}
ul.obgaleria li:nth-child(2), ul.obgaleria li:first-child {border-left:0;}
.img_tag_principal {
  
  width: auto;
  max-height: 50vh;
  max-width: 100%;
  height: auto;
}
</style>

{%if messages%}
<center>
<div class="container">
  {% for message in messages %}
      <div class="{{message.tags}}"><h5>{{message}}</h5></div>
  {% endfor %}
</div>
</center>
{%endif%}

<div class="row">
<div class="col s12 m6">
<div style="position: relative; height: 50vh; top:3vh; bottom:10vh; display: flex; justify-content: center;">
      <a href="/media/{{anuncio.imagen_principal}}" data-lightbox="gallery" class="mainhref"><img class="img_tag_principal" src="{% for im in anuncio.imagen.all|slice:"0:1" %}{{im.imagen_anuncio.url}}{% endfor %}" alt="Principal"></a>
</div>
<ul class="obgaleria" id="galeria1">
  {% for img  in imagenes  %}
    <li ><a class="white-text"> <img src="{{img.imagen_anuncio.url}}" alt=""></a></li> 
  {% endfor %}  
</ul>
</div>
<div class="col s12 m6">
  <table class="table highlight">
        <thead>
          <tr>
              <th data-field="id"><h4>{{anuncio.titulo_anuncio}}</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="material-icons">person_pin</i><strong>Vendedor:</strong></td>
            <td>{{anuncio.vendedor}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">monetization_on</i><strong>Precio:</strong></td>
            <td>${{anuncio.precio}}{{anuncio.Moneda}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">date_range</i><strong>Fecha de publicacion:</strong></td>
            <td>{{anuncio.fecha_anuncio}}</td>
          </tr>
          <tr>
            <td><i class="material-icons">description</i><strong>Descripcion:</strong></td>
            <td>{{anuncio.descripcion_anuncio}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="container">
<form method="POST" action=".">
{%csrf_token%}
  {{comment_form}}
<center>
  <input class="waves-effect waves-light btn #7cb342 light-green darken-1" type="submit" value="Comentar">
</center>
</form>
{%for comment in comments%}
 <ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle green">question_answer</i>
    <strong><span class="title">{{comment.autor}}</span></strong>
    <p>{{comment.cuerpo}}</p>
    <p>{{comment.fecha_comentario}}</p>

    {%if comment.children.count > 0%}
    <strong><p>Respuestas: {{comment.children.count}}</p></strong>
    <a class="comment" href="#">Responder</a>
    {%else%}
    <strong><p>No hay respuestas</p></strong>
    <a class="comment" href="#">Responder</a>
    {%endif%}
    <div class='respuestas' style="display:none">
    {%for child_comment in comment.children%}
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle red">question_answer</i>
            <strong><span class="title">{{child_comment.autor}}</span></strong>
            <p>{{child_comment.cuerpo}}</p>
            <p>{{child_comment.fecha_comentario}}</p>

        </li>
    </ul>
    {%endfor%}
    <form method="POST" action=".">
    {%csrf_token%}
      {{comment_form}}
      <center>
        <input type="hidden" name="parent_id" value="{{comment.id}}">
        <input class="waves-effect waves-light btn #7cb342 light-green darken-1" type="submit" value="Responder">
      </center>
    </form>
    </div>
  </li>
</ul>
{%endfor%}
</div>
{%endblock content%}
