{%extends 'base.html'%}

{%block content%}
<form method="POST" action=".">
<div>
    {%csrf_token%} 
      <div class="row">
       <div class="input-field col s6">
          {{form.titulo_anuncio}}
        </div>
        <div class="input-field col s6">
          {{form.descripcion_anuncio}}
        </div>
        <div class="input-field col s6">
          {{form.precio}}
        </div>
        <div class="input-field col s6">
          {{form.Moneda}}
        </div>
        <div>
          {{form.categoria.label_tag}}
          {{form.categoria}}
        </div>
       <div id="div_subcategoria">
          {{form.subcategoria_relacion.label_tag}}
          {{form.subcategoria_relacion}}
       </div>
    </div>
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>
<input type="submit" value="Enviar">
</form>
<!--<form  id="formulario" method="POST" class="post-form">{% csrf_token %}
  {{form.as_p}}
  <p><input type="submit" value="Guardar"></p>
</form>-->
<script>
  // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

<script type="text/javascript">
 $(document).ready(function() {
    $('select').material_select();
    $("#id_categoria").on("change", getSubcategoria);
  });

  function getSubcategoria() {
    var categoriaId = $("#id_categoria").val();
    if (categoriaId) {
      console.log("Entro"+categoriaId);
      $("#id_subcategoria_relacion").html("");
      var request = $.ajax({
        type: "GET",
        url: "{%url 'product:get_subcategoria' %}",
        data: {
          "categoria_id":categoriaId,
        },
      });
      request.done(function (response) {
        console.log("trae algo",response.subcategorias);
        console.log("trae algo",response.lista);
        //opciones
        $("#div_subcategoria ul").html(response.lista);
        $("#id_subcategoria_relacion").html(response.subcategorias);
        $("#id_subcategoria_relacion").trigger("change");
        $("#id_subcategoria_relacion").material_select();

      });
    } else {
      $("#id_subcategoria_relacion").html("<option value='' selected='selected'></option>");
      $("#id_subcategoria_relacion").trigger("change")
    }
  }
</script>

{%endblock content%}
