{%extends 'base.html'%}
{%load static%}
{%block content%}
{%if messages%}
<style>
  .im{
    height: 100px;
    width: 100px;
  }

  #anun{

    width: 150px;
    height: 150px;
  }
</style>


  {% for message in messages %}
      <div class="overlay">
        <div class="modal-container">
            <center>
              <div class="{{message.tags}}"><h5>{{message}}</h5></div>
            </center>
        </div>
      </div>
  {% endfor %}

{%endif%}

<div class="container">
<div class="row">
{%for anuncio in items%}
        <div class="col s12 m4">
          <div class="card medium hoverable">
            <div class="card-image">
              {% for im in anuncio.imagen.all|slice:"0:1" %}

                  <img src="{{im.imagen_anuncio.url}}" style="height:200px">
                  
              {% endfor %}
            </div>
            <div class="card-content">
            <strong><center><h5>{{anuncio.titulo_anuncio}}</h5></center></strong>
            </div>
            <div class="card-action">
            <center>
              <a class="" href="{{anuncio.get_absolute_url}}">ver detalle</a>
            <strong><p>Precio: ${{anuncio.precio}} {{anuncio.Moneda}}</p></strong>
            </center>
            </div>
          </div>
        </div>
{%empty%}
<center>
<h2>no hay anuncios</h2>
<h4>ve a tu perfil y comienza a vender ahora mismo!</h4>
<img id="anun" src="{% static "media/logofin.png" %}" alt="">
</center>
{% endfor %}
  </div>
</div>
{%endblock content%}