{%extends 'base.html'%}
{%load static%}
{%block content%}
<style type="text/css">
  div>img{
    border:2px solid white;
      
      height:200px;
  }
  
  .imgan{
    height: 200px;
    width: 100px;
  }
</style>
<br>
<br>
<div class="container input-field">
<form method="GET" action=".">
  <i class="material-icons prefix">search</i>
  <input type="text" name="q" placeholder="Buscar" value="{{request.GET.q}}">
  <center>
  <button class="btn waves-effect waves-light #43a047 green darken-1" type="submit" value="Buscar"> Buscar </button>
  </center>
</form>
</div>
<div class="container">
<div class="row">
{%for anuncio in anuncios%}
        <div class="col s12 m4">
          <div class="card medium hoverable">
            <div class="card-image">
              {% for im in anuncio.imagen.all|slice:"0:1" %}
                  <img src="{{im.imagen_anuncio.url}}" class="imgan">
              {% endfor %}
            </div>
            <div class="card-content">
            <strong><center><h5>{{anuncio.titulo_anuncio}}</h5></center></strong>
            </div>
            <div class="card-action">
            <center>
              <a class="" href="{{anuncio.get_absolute_url}}">ver detalle</a>
            <strong><p>Precio: ${{anuncio.precio}} {{anuncio.Moneda}}</p></strong>
            </center>
            </div>
          </div>
        </div>
{%empty%}
<center>
  <h2>no hay anuncios</h2>
  <h4>Se el primero en publicar</h4>
  <img src="{% static "media/logofin.png" %}" alt="">
</center>
{% endfor %}
  </div>
</div>
<center>
{% if anuncios.has_other_pages %}
  <ul class="pagination">
    {% if anuncios.has_previous %}
      <li class="waves-effect"><a href="?page={{ anuncios.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li><a><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for i in anuncios.paginator.page_range %}
      {% if anuncios.number == i %}
        <li class="waves-effect"><span>{{ i }}</span></li>
      {% else %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if anuncios.has_next %}
      <li class="waves-effect"><a href="?page={{ anuncios.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
      <li><a><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
{% endif %}
</center>
{%endblock content%}
