{%extends 'base.html'%}

{%block content%}
<style type="text/css">
  div>img{
    border:2px solid white;
      
      height:200px;
  }
</style>
<!--  <h4>Productos diponibles</h4>
  {% if tag %}
      <h4>Recomendaciones para :{{tag}}</h4>
  {% endif %}
{% for anuncio in anuncios %}
  <h2>{{anuncio.titulo_anuncio}}</h2>
  <p>{{anuncio.descripcion_anuncio}}</p>
  <h3>{{anuncio.precio}}</h3>
  <img src="/media/{{anuncio.imagen_principal}}">
  {% empty %}
    <h2>No hay productos, se el primero en vender</h2>
{% endfor %}-->
<div class="container">
<div class="row">
{%for anuncio in anuncios%}
        <div class="col s12 m4">
          <div class="card medium hoverable">
            <div class="card-image">
              <img src="/media/{{anuncio.imagen_principal}}">
            </div>
            <div class="card-content">
            <strong><center><h5>{{anuncio.titulo_anuncio}}</h5></center></strong>
            </div>
            <div class="card-action">
            <center>
              <a class="" href="{{anuncio.get_absolute_url}}">ver detalle</a>
            <strong><p>Precio: ${{anuncio.precio}} {{anuncio.Moneda}}</p></strong>
            </center>
            </div>
          </div>
        </div>
{%empty%}
<h2>no hay anuncios</h2>
{% endfor %}
  </div>
</div>
<center>
{% if anuncios.has_other_pages %}
  <ul class="pagination">
    {% if anuncios.has_previous %}
      <li class="waves-effect"><a href="?page={{ anuncios.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li><a><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for i in anuncios.paginator.page_range %}
      {% if anuncios.number == i %}
        <li class="waves-effect"><span>{{ i }}</span></li>
      {% else %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if anuncios.has_next %}
      <li class="waves-effect"><a href="?page={{ anuncios.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
      <li><a><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
{% endif %}
</center>
{%endblock content%}
